<a href="https://colab.research.google.com/github/Moogouda/Moogouda/blob/main/Python_Variables_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
price = 99.99
quantity = 5
discount = 0.15
totalcost= float(price) * int(quantity) * (1 - float(discount))
totalcost

424.9575

1- Convert **a** to string<br>

2- convert **b** to int<br>

3- change last value of **d** to 30<br>

4- Convert **e** to list<br>

5- add another value of **f** which is 'gender':'F'<br>

6- what is the result of adding **a** to **b**?<br>

7- change first element of **e** to **g**<br>

8- add [1,2] to **f** with new key 'skills'<br>

9- add **c** to new key of **f** as 'qoute'<br>

10- convert **g** to int<br>

In [55]:
a = 42
b = '3.14'
c = "Hello from the other side"
d = [1,2,3,4,5]
e = (1,2,0,3)
f = {'name': 'Aya', 'Age':26}
g = True

In [35]:
a = str(a)

In [69]:
b = "3.14"
b=int(float(b))
b

3

In [63]:
d[4] = 30
d

[1, 2, 3, 4, 30]

In [41]:
e = list(e)

In [53]:
f['gender'] ='F'

In [47]:
int(a) + int(b)

45

In [49]:
e[0] = g

In [57]:
f['skills'] = [1,2]

In [58]:
f['qoute'] = c

In [59]:
f

{'name': 'Aya',
 'Age': 26,
 'skills': [1, 2],
 'qoute': 'Hello from the other side'}

In [60]:
int(g)

1